body{
	font-family: "Montserrat";
	background-color: #f8f8f8;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}
h2{
	color: #373737
}
    

.sidenav {
    box-shadow: 0px 0px 16px rgba(44, 44, 44, 0.1);
    height: 100vh;
}
/*
    position: fixed;
    left: 0%;
    top: 0%;
}
.main-content{
	position: absolute;
	left: 20%;
    top: 0%;

}*//*fixed menu разберись!*/
.rating-btn{
	width: 165px;
	height: 41px;
	background: rgba(57, 44, 209, 0.2);
	font-size: 14px;
	text-align: center;
	color: #392CD1;
	margin-top: 10px;
	margin-right: 16px;
	border-radius: 8px;
}
.rating-btn:hover{
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
}

.scale-btn{
	width: 165px;
	height: 41px;
	font-size: 14px;
	text-align: center;
	border: 1px dashed #A4A4A4;
	color: rgba(55, 55, 55, 0.7);
	border-radius: 8px;

}
i{
	padding-right: 16px;

}
.well{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 16px;
}

.add:hover{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.courses{
	text-decoration:underline;
    text-decoration-color: #392CD1
}
.lines1{
	border-left: 4px solid  #FFD058;
}

.lines2{
	border-left: 4px solid #EF6363;
}
.lines3{
	border-left: 4px solid #65C3ED;
}
.gap{
	margin-left: 10px;
}

/*Active menu*/
a.active{
  background: rgba(57, 44, 209, 0.2);
  color: #392CD1;
  border-left: 3px solid #392CD1;
}
a:hover{
	color: #392CD1;
}
a{
	color: #373737;
}
/*Dropdown caret*/
.caret{
	color: #392CD1
}
/*Menu
ul > :last-child {
  margin-top: auto;
}
*/