@font-face { 
    font-family: Geometria; 
    src: local("Geometria"),
        url(../Geometria/Geometria.woff);
} 
body{
	font-family: "Geometria", sans-serif;
	background-color: #f8f8f8;
}
.main{
	height:508px;
	background: #FFFFFF;
}
.welcome {
	height: 100vh;
}
.next{
	color: #4505b3;
	border: none;
	float: right;
	background: none;
	text-decoration:none;
	margin-top: 40px;
}
.next_img{
	margin-left: 10px;
}
.sign_up {
	height: 508px;
}
p{
	color: #4a4a4a; 
}
h2{
	color: #4505b3;
	font-weight: bold;
}
.reg_content {
	padding-left: 30px;
	padding-right: 30px;
}
.form_block{
	margin-top: 30px;
}
.form_block input {
	margin-bottom: 15px;
	margin-top: 10px;
	color: #9b9b9b;
}

.custom-class {
	display: flex;
}
.img__container {
	position: relative;
	overflow: hidden;
}
.img__container img {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	width: 0;
}
