<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href= {% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}>
	<link rel="stylesheet" href={% static 'css/new1.css' %}>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>

			<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 welcome d-flex justify-content-center align-items-center">
				<div class="container main">
					<div class="row custom-class">
						<div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 sign_up d-flex justify-content-center align-items-center">
							
								<div class="reg_content">
									<h2 class="reg_title">
										Welcome!
									</h2>
									<p>Dear student, we are glad that you joined out test {{test.title}}  at SDU. {{test.description}}</p>
									<div class="form_block">
									{% for field in form %}
										<form action="{% url 'reg1' uidb64  %}"  method="post" class="{% if field.errors or message %} ? novalidate :  was-validated {% endif %}">
										{% csrf_token %}
											<input type="number" name='id' class="form-control" id="id_id" placeholder="Your ID" required>
											<div class="invalid-feedback valid_feed">
									          {% if message %}
												{{message}}
											{% else %}
												{{ field.errors }}
											{% endif %}
									         
									        </div>
											
									        </div>
											<button type="submit" class="next">
												Next<img src={% static 'img/3-layers.png' %}  alt="" class="next_img">
											</button>
										</form>
										{% endfor %} 
									</div>
								</div>
								
							<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 justify-content-center img__container d-none d-lg-block">
								<img src={% static 'img/01.svg' %} alt="">
								
							</div>
							</div>
					</div>
				
		
				</div>
				
			</div>
			<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
		</div>
	</div>
	<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  }, false);
	})();
	</script> 
	
		
	
</body>
</html>