<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>CSV import results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/tests.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-pro-5.3.1-web/css/all.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .main-content{
            margin-top: 200px;
        }
        h2{
            font-weight: 600;
            font-size: 32px;
            color: #373737;
        }
        p{
            font-size: 18px;
            color: #373737;
        }
        .btn-action{
            width: 167px;
            height: 42px;
            font-weight: bold;
            font-size: 14px;
            border-radius: 8px;
        }
        .stud_list{
            background: #f8f8f8;
            border: 1px dashed #A4A4A4;
            color: rgba(55, 55, 55, 0.7);
        }
        .add{
            background: rgba(57, 44, 209, 0.2);
            color: #392CD1;
            border: none;
        }
        .add_block{
            margin-bottom: 24px;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <!--Start menu-->
    <nav class="navbar navbar-default visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'admin-home' %}">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'admin-home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'admin-tests' %}"><i class="fas fa-books"></i>Tests</a></li>
                    <li><a class="active" href="{% url 'admin-students' %}"><i class="fas fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fas fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 sidenav hidden-xs">
                <h2 class="logo-text">LOGO</h2>
                <ul class="nav flex-column">
                    <li><a href="{% url 'admin-home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'admin-tests' %}"><i class="fas fa-books"></i>Tests</a></li>
                    <li><a class="active" href="{% url 'admin-students' %}"><i class="fas fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fas fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
            <br>
            <!--End menu-->
            <div class="col-sm-2"></div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 main-content">
                <div class="row congrats">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center">
                        <h2>Congratulations!</h2>
                        <p>{{successrow}} students were created successfully out of {{totalrow}}</p>
                        <div class="add_block">
                            <a href="{% url 'admin-create-student' %}">
                                <button class="add btn-action">Add new student</button>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'admin-students' %}">
                                <button class="stud_list btn-action">Student list</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
