<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Password reset</title>
        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-pro-5.3.1-web/css/all.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center align-items-center">
                    <div class="reg_content align-items-center">
                        <h1 class="reg_title">
                            Password reset
                        </h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form_block">
                                <input id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" type="email" class="form-control" placeholder="Email" required=""  value="{{ form.email.value|default:'' }}" />
                            </div>
                            <div class="form-next">
                                <button type="submit" class="signup-btn" value="">Reset password</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 admin d-flex justify-content-center align-items-center">
                    <div class="align-items-center">
                        <img src="{% static 'img/Illustration One.svg' %}" alt="">
                    </div>
                </div>
			</div>
		</div>
    </body>
</html>
