<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Congratulations!</title>
        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
        <style>
            .reg_content{
                margin-left: 120px;
                margin-right: 120px;
            }
        </style>
    </head>
    <body>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center align-items-center">
						<div class="reg_content align-items-center">
							<h1 class="reg_title">
								Password reset sent
							</h1>
							<p class="text">
								We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
							</p>
							<div class="form-next">
								<a href="{% url 'admin-login'%}">
								    <button type="button" class="signup-btn">
								        Go to login page
								    </button>
                                </a>
							</div>
						</div>
					</div>
					<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 admin d-flex justify-content-center align-items-center">
                        <div class="align-items-center">
                            <img src="{% static 'img/Illustration One.svg' %}" alt="">
                        </div>
                    </div>
			</div>
		</div>
    </body>
</html>