<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .card{
            border: 1px blue solid;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .question-title{
            margin-bottom: 10px;

        }
    </style>
</head>
    <body>
        <div class="card">
            <p>{{ test.title }}</p>
            <p>{{ test.deadline }}</p>
        </div>
        <div id="question-card-rows"></div>
        <div class="card">
            <label>
                Choose question type
                <select id="question-type">
                    <option value="question-single">
                        Single choice question
                    </option>
                    <option value="question-multiple">
                        Multiple choice question
                    </option>
                </select>
            </label>
            <button id="question-add">Add question</button>
        </div>
        <button id="questions-submit">Submit</button>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        questions = [];
        $('#question-add').click(
            function () {
                let type = $('#question-type').val();
                let question_container = $('#question-card-rows');

                if (type === 'question-single') {
                    questions.push({
                        question: 'Question',
                        is_multiple_choice: false,
                        options: [
                            {
                                'option':'Option 1',
                                'is_correct': false,
                            }
                        ]
                    });
                    const questions_length = questions.length;
                    const options_length = questions[questions.length - 1].options.length;
                    question_container.append(
                        `<div class="card" id="card-question-${questions_length}">
                            <div class="question-title"><input id="question-${questions_length}" type="text" value="Question ${questions_length}"/></div>
                            <input id="question-${questions_length}-option-${options_length}" type="text" value="Option ${options_length}"/>
                            <button id="question-${questions_length}-option-add">Add option</button>
                        <div>`
                    );
                } else if (type === 'question-multiple') {
                    questions.push({
                        question: 'Question',
                        is_multiple_choice: true,
                        options: [
                            {
                                'option':'Option 1',
                                'is_correct': false,
                            }
                        ]
                    });
                    question_container.append(
                        `<div class="card" id="card-question-${questions.length}">
                            <div class="question-title"><input id="question-${questions.length}" type="text" placeholder="Question"/></div>
                            <input id="question-${questions.length}-option-${questions[questions.length - 1].options.length}" type="text" placeholder="Option 1"/>
                            <button id="question-${questions.length}-option-add">Add option</button>
                        <div>`
                    );
                }
            }
        );

        {#questions = [#}
        {#    {#}
        {#        'question':'Question 1',#}
        {#        'is_multiple_choice': false,#}
        {#        'options': [#}
        {#            {#}
        {#                'option': 'Option 1',#}
        {#                'is_correct': true,#}
        {#            },#}
        {#            {#}
        {#                'option': 'Option 2',#}
        {#                'is_correct': false,#}
        {#            },#}
        {#        ]#}
        {#    },#}
        {#    {#}
        {#        'question':'Question 2',#}
        {#        'is_multiple_choice': true,#}
        {#        'options': [#}
        {#            {#}
        {#                'option': 'Option 1',#}
        {#                'is_correct': false,#}
        {#            },#}
        {#            {#}
        {#                'option': 'Option 2',#}
        {#                'is_correct': true,#}
        {#            },#}
        {#            {#}
        {#                'option': 'Option 3',#}
        {#                'is_correct': true,#}
        {#            },#}
        {#        ]#}
        {#    },#}
        {#];#}

        $('#questions-submit').click(function () {
            let csrftoken = getCookie('csrftoken');

            $.ajax({
                type: 'POST',
                url: "/admin/12/tests/1/",
                data: JSON.stringify(questions),
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (response) {
                    console.log("success");
                    console.log(response);
                },
                error: function (response) {
                    console.log("fail");
                    console.log(response);
                    $('#question-card-rows').append(response)
                }
            })
        });

    </script>
</html>