<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>New student</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/tests.css' %}">
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-pro-5.3.1-web/css/all.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .add-question{
            width: 144px;
            height: 41px;
            font-size: 14px;
            text-align: center;
            border: 1px dashed #A4A4A4;
            color: rgba(55, 55, 55, 0.7);
            background-color: #f8f8f8;
            border-radius: 8px;
            padding-top: 9px;
        }
        .or{
            color:#A4A4A4;
            font-weight: 600;
            font-size: 24px;
            margin-left: 20px;
        }
        .add{
            width: 133px;
            height: 41px;
            left: 978px;
            top: 597px;
            background: #392CD1;
            border-radius: 8px;
            font-weight: bold;
            font-size: 14px;
            color: #FFFFFF;
            border: none;
        }
        .cancel{
            background: #f8f8f8;
            border: 1px dashed #A4A4A4;
            box-sizing: border-box;
            border-radius: 8px;
            width: 92px;
            height: 41px;
            font-weight: bold;
            font-size: 14px;
            color: rgba(55, 55, 55, 0.7);
        }

    </style>
</head>
<body>
    <!--Start menu-->
    <nav class="navbar navbar-default visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'admin-home' %}">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'admin-home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'admin-tests' %}"><i class="fas fa-books"></i>Tests</a></li>
                    <li><a class="active" href="{% url 'admin-students' %}"><i class="fas fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fas fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 sidenav hidden-xs">
                <h2 class="logo-text">LOGO</h2>
                <ul class="nav flex-column">
                    <li><a href="{% url 'admin-home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'admin-tests' %}"><i class="fas fa-books"></i>Tests</a></li>
                    <li><a class="active" href="{% url 'admin-students' %}"><i class="fas fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fas fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
            <br>
            <!--End menu-->

            <div class="col-sm-2"></div>
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="row question-page">
                    <div class="col-sm-3"></div>
                    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <span class="title_test">New student</span>
                        <span class="or">or</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <form id="csv-form" action="{% url 'admin-create-student-csv' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="files" class="btn add-question">
                              <i class="fas fa-arrow-to-top"></i>Import CSV</label>
                            <input id="files" style="visibility:hidden;" type="file" name="students" accept=".csv">
                        </form>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="reg_content align-items-center">
                            <div class="form_block">
                                <form method="post" id="student-form">
                                    {% csrf_token %}
                                    <label class="test-label">Student info</label>
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}

                                    {% endif %}

                                    {% for error in form.first_name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                    {{ form.first_name }}

                                    {% for error in form.last_name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                    {{ form.last_name }}

                                    {% for error in form.id.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                    {{ form.id }}

                                    {% for error in form.speciality.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                    {{ form.speciality }}
                                    <datalist id="specialities">
                                    </datalist>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div><!--student end -->

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <a href="{% url 'admin-students' %}">
                            <button class="cancel">Cancel</button>
                        </a>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2 text-right">
                        <button class="add">Add student</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div><!--section main end-->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/student_create.js' %}"></script>
</body>
</html>
