<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    Students
    <a href="{% url 'admin-create-student' %}"><button>+ Add new</button></a>
    <form id="csv-form" action="{% url 'admin-create-student-csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button id="import-csv" type="button">+ Import CSV</button>
        <input id="csv-file" style="visibility:hidden;" name="students" type="file" accept=".csv">
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for student in students %}
        <div>
            <div><a href="{% url 'admin-student-details' student.pk %}"><h1>{{ student.first_name }} {{ student.last_name }}</h1></a></div>
            <div>ID {{ student.id }}</div>
            <div>Group {{ student.speciality }}</div>
        </div>
        <br/>
    {% endfor %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/student_create_csv.js' %}"></script>
</html>