<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>{{student.last_name}} {{ student.first_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/tests.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-test.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-pro-5.3.1-web/css/all.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .edit{
            width: 134px;
            height: 35px;
        }
        .del{
            width: 147px;
            height: 35px;
        }
        .edit,.del{
            background: #ffffff;
            border: 1px dashed #A4A4A4;
            box-sizing: border-box;
            border-radius: 8px;
            color: rgba(55, 55, 55, 0.7);
            font-size: 12px;
            margin-right: 16px;
            margin-top: 7px;
        }

        .icon-down{
            border: none;
            background-color: #ffffff;
        }
        .on{
            width: 95px;
            height: 25px;
            background: rgba(255, 208, 88, 0.4);
            color: #F2AE00;
            font-size: 12px;
            font-weight: 600;
            border: none;
        }
        .points{
            font-weight: 600;
            font-size: 18px;
            color: #A4A4A4;
        }
        .overall{
            font-weight: bold;
            color: #000000;
        }
        .fin{
            background: rgba(59, 210, 119, 0.4);
            color: #119A48;
        }
    </style>

</head>
<body>
    <!--Start menu-->
    <nav class="navbar navbar-default visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'admin-home' %}">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'admin-home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'admin-tests' %}"><i class="fas fa-books"></i>Tests</a></li>
                    <li><a class="active" href="{% url 'admin-students' %}"><i class="fas fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fas fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 sidenav hidden-xs">
                <h2 class="logo-text">LOGO</h2>
                <ul class="nav flex-column">
                    <li><a href="{% url 'admin-home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'admin-tests' %}"><i class="fas fa-books"></i>Tests</a></li>
                    <li><a class="active" href="{% url 'admin-students' %}"><i class="fas fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fas fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
            <br>
            <!--End menu-->
            <div class="col-sm-2"></div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 main-content">
  		        <!--Main info about test-->
                <div class="row">
      		        <div class="col-sm-1"></div>
  		            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 align-items-center">
                        <h3 class="about-title">{{student.last_name}} {{student.first_name}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
          		</div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7">
                        <a href="{% url 'admin-edit-student' student.id %}">
                            <button class="edit del"><i class="far fa-edit"></i>Edit student</button>
                        </a>
                        <form method="POST" action="{% url 'admin-delete-student' student.id %}" style="display: inline">
                           {% csrf_token %}<button class="edit del"><i class="far fa-trash-alt"></i>Delete student</button>
                        </form>
                    </div>
                </div>
                <!--End-->

                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <h3 class="title-about">About student</h3>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                </div>

                <div class="row info-row">
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>

                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <p class="test-title">Date created</p>
                        <p class="test-info date">{{student.created_date|date:"d.m.Y" }}</p>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <p class="test-title">Student ID</p>
                        <p class="test-info stud_id">{{ student.id }}</p>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <p class="test-title">Group</p>
                        <p class="test-info">{{ student.speciality }}</p>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <p class="test-title">Assigned tests</p>
                        <p class="test-info">{{ student.tests.all|length }}</p>
                    </div>

                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div><!--Line-->
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 last"></div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                </div>

                <div class="row"><!--Collapse-->
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <h3 class="title-about">Student's tests
                            <button class="icon-down" type="button" data-toggle="collapse" data-target="#test-stat">
                                <i class="far fa-angle-down"></i>
                            </button>
                        </h3>

                        <div id="test-stat" class="collapse"><!--Test collapse-->
                            {% for test in tests %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <a href="{% url 'admin-student-result' test.id test.result_id %}" class="custom-card">
                                        <div class="well about-block">
                                            <div class="row">
                                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                    <span class="title_exam">{{ test.title }}</span>
                                                    {% if test.is_active == test_state.ongoing %}
                                                        <button class="status_exam on">Ongoing</button>
                                                    {% elif test.is_active == test_state.not_started %}
                                                        <button class="status_exam on">Not started</button>
                                                    {% elif test.is_active == test_state.finished %}
                                                        <button class="status_exam on fin">Finished</button>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5"></div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right">
                                                    <span class="total">
                                                        {% if test.point != None %}
                                                            {{ test.point }}
                                                        {% else %}
                                                            --
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <span class="info-text"><i class="far fa-clipboard-list icons"></i>
                                                    Questions rate: <span class="overall">
                                                            {% with all=test.questions.all|length %}
                                                                    {% if test.point != None %}
                                                                        {{ test.question_rate }}/{{ all }}
                                                                    {% else %}
                                                                        --
                                                                    {% endif %}
                                                            {% endwith %}
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <span class="info-text">
                                                        <i class="far fa-clipboard-list icons"></i>Cheating:
                                                        <span class="overall">
                                                            {% if test.cheatings %}
                                                                Cheating detected
                                                            {% else %}
                                                                Not detected
                                                            {% endif %}
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <span class="info-text"><i class="far fa-calendar-alt icons"></i>Date created <span class="overall">{{test.created_date|date:"d.m.Y" }}</span></span>
                                                </div>
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>

                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 points text-right">
                                                    gained point
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div><!--end Test collapse-->
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                </div><!--End collapse -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

