<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Tests</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/tests.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!--Start menu-->
    <nav class="navbar navbar-default visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'admin-home' %}"><i class="fa fa-home"></i>Home</a></li>
                    <li><a class="active" href="{% url 'admin-tests' %}"><i class="fa fa-book"></i>Tests</a></li>
                    <li><a href="{% url 'admin-students' %}"><i class="fa fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fa fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fa fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 sidenav hidden-xs">
                <h2 class="logo-text">LOGO</h2>
                <ul class="nav flex-column">
                    <li><a href="{% url 'admin-home' %}"><i class="fa fa-home"></i>Home</a></li>
                    <li><a class="active" href="{% url 'admin-tests' %}"><i class="fa fa-book"></i>Tests</a></li>
                    <li><a href="{% url 'admin-students' %}"><i class="fa fa-users"></i>Students</a></li>
                    <li><a href="{#TODO#}"><i class="fa fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'admin-logout' %}"><i class="fa fa-sign-out"></i>Log out</a></li>
                </ul>
            </div>
            <br>
            <!--End menu-->
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 main-content">
                <div class="row">
                    <div class="col-xs-1 col-sm-1"></div>
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 menu_text">
                        <p class="title_test"><i class="fa fa-book"></i>Tests</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-5 col-lg-5 col-xl-5">
                        <a href="{% url 'admin-create-test' %}">
                            <button type="button" class="add-btn">
                                + Add new
                            </button>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                </div>

                <div class="row search-row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 search">
                        <!-- Search form -->
                        <form class="form-inline d-flex justify-content-center">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" name="title" class="search" placeholder="Type to search...">
                        </form>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    {% for message in messages %}
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 alert alert-success alert-dismissible show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-sm-1"></div>
                    {% endfor %}
                </div>

                {% for test in tests %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div class="well about-block">
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                    <a href="{% url 'admin-test-details' user_id=request.user.id test_id=test.id %}"><span class="title_exam">{{test.title}}</span></a>
                                    {% if test.is_active == test_state.ongoing %}
                                        <button class="status_exam ongoing">Ongoing</button>
                                    {% elif test.is_active == test_state.not_started %}
                                        <button class="status_exam ongoing">Not started</button>
                                    {% elif test.is_active == test_state.finished %}
                                        <button class="status_exam ongoing finished">Finished</button>
                                    {% endif %}
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5"></div>
                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right">
                                    <span class="total">
                                        {% if test.average_points %}
                                            {{ test.average_points }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            <div class="row info">
                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <span class="info-text">Students: {{test.students.all|length}}</span>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <span>Questions: {{test.questions.all|length}}</span>
                                </div>
                                <div class="col-sm-4">
                                    <span>Date created {{test.created_date|date:"d.m.Y H:m" }}</span>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 average text-right">
                                    average point
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                {% endfor %}

                <!--Page number -->
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right">
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?title={{ request.GET.title }}&page={{ page_obj.previous_page_number }}">
                                <img src="{% static 'img/arrowback.png' %}"></a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="active page-item"><a class="page-link" href="?title={{ request.GET.title }}&page={{ num }}">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?title={{ request.GET.title }}&page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?title={{ request.GET.title }}&page={{ page_obj.next_page_number }}">
                                <img src="{% static 'img/arrow.png' %}"></a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>