<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New test</title>
    </head>
    <body>
        <h1>Add students from</h1>
        <form id="form-test" method="post">
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <br/>
            <input type="submit" value="Next">
        </form>
            <div>
                <span>
                    <form method="POST" action="{% url 'admin-delete-test' request.user.id test.id %}">
                       {% csrf_token %}<input type="submit" value="Cancel">
                    </form>
                </span>
                <span>Step 1</span>
                <span>Step 2</span>
                <span><b>Step 3</b></span>
            </div>

    </body>
</html>