
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


/* --------- Section1 -----------*/

#logo{
 width: 6%;
 height: 6%;
 margin: 15px 0 0 15px;
}
.Section1 {
	margin-top: 55px;
}

.reg_block {
	background-color: white;
	height: 500px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 1px 0px #CC0606;
}

.reg_content {
	width: 65%;
	height: 100%;
	padding-left: 50px;
	padding-top: 35px;
}

.reg_picture {
	width: 35%;
	height: 100%;
}

.reg_title {
	font-size: 20px;
	font-weight: bold;
	color: #CC0606;
}

.reg_par {
	color: #4a4a4a;
	font-size: 14px;
	width: 80%;
}

.form_block {
	width: 80%;
	padding-top: 50px;
	padding-bottom: 23px;
}

.form_block input {
	margin-bottom: 30px;
	color: #CC0606;
	margin-bottom: 30px;
}

.next {
	color: #CC0606;
	padding-left: 250px;
	background: none;
    border: none;
}

.next:hover {
	text-decoration: none;
	color: #CC0606;
}

.form-control:focus {
  border-color: #CC0606;
  box-shadow: inset 0 1px 1px #CC0606, 0 0 10px #CC0606;
}


@media screen and (max-width: 1224px) {

.reg_block {
	height: 419px;
}

.Section1 {
	margin-top: 55px;
}

.reg_title {
	font-size: 18px;
}

.reg_par {
	color: #CC0606;
	font-size: 10px;
	width: 80%;
}

.form_block {
	width: 80%;
	padding-top: 15px;
	padding-bottom: 18px;
}

.form_block input {
	margin-bottom: 25px;
	color: #CC0606;
	height: 35px;
}

.next {
	color: #CC0606;
	padding-left: 186px;
}
}


@media screen and (max-width: 986px) {

.reg_block {
	height: 309px;
}

.Section1 {
	margin-top: 55px;
}

.reg_title {
	font-size: 18px;
}

.reg_content {
	padding-top: 45px;
}

.reg_par {
	color: #CC0606;
	font-size: 10px;
	width: 80%;
}

.form_block {
	width: 80%;
	padding-top: 25px;
	padding-bottom: 18px;
}

.form_block input {
	margin-bottom: 20px;
	color: #CC0606;
	height: 27px;
	font-size: 12px;
}

.next {
	padding-left: 125px;
	color: #CC0606;
	font-size: 10px;
}
}

