body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


/* --------- Section1 -----------*/
#logo{
 width: 6%;
 height: 6%;
 margin: 15px 0 0 15px;
}
.reg_block {
	background-color: white;
	height: 500px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 5px;
	box-shadow: 0 0 1px 0px #CC0606;
}

.reg_content {
	width: 65%;
	height: 100%;
	padding-left: 50px;
	padding-top: 40px;
}

.reg_picture {
	width: 35%;
	height: 100%;
}

.reg_title {
	font-size: 22px;
	font-weight: bold;
	color: #CC0606;
}

.reg_par {
	color: #CC0606;
	font-size: 14px;
	width: 80%;
	margin-bottom: 0rem;
}

.form_block {
	width: 80%;
	padding-bottom: 21px;
}

.form_block input {
	margin-bottom: 33px;
	color: #CC0606;
}

.next {
	color: #CC0606;
	padding-left: 160px;
	border: none;
	background: none;
}

.next:hover {
	text-decoration: none;
	color: #CC0606;
}

.next_div img {
	margin-left: 2px;
}

.prev {
	color: #CC0606;
}

.prev:hover {
	text-decoration: none;
	color: #CC0606;
}

.prev img {
	margin-right: 4px;
}

.form-control:focus {
  border-color: #CC0606;
  box-shadow: inset 0 1px 1px #CC0606, 0 0 10px #CC0606;
}
.lines{
	padding-top: 20px;
}


@media screen and (max-width: 1224px) {

.reg_block {
	height: 419px;
}

.Section1 {
	margin-top: 55px;
}

.reg_content {
	width: 65%;
	height: 100%;
	padding-left: 50px;
	padding-top: 30px;
}


.reg_title {
	font-size: 18px;
}

.reg_par {
	color: #CC0606;
	font-size: 10px;
	width: 80%;
}

.form_block {
	width: 80%;
	padding-top: 2px;
	padding-bottom: 18px;
}

.form_block input {
	margin-bottom: 25px;
	color: #CC0606;
	height: 35px;
}

.next {
	color: #CC0606;
	padding-left: 104px;
	font-size: 14px;
}

.next:hover {
	text-decoration: none;
	color: #CC0606;
}

.next img {
	margin-left: 6px;
}

.prev {
	color: #CC0606;
	font-size: 14px;
}

.prev:hover {
	text-decoration: none;
	color: #CC0606;
}

.prev img {
	margin-right: 4px;
}
}


@media screen and (max-width: 986px) {

.reg_block {
	height: 309px;
}

.Section1 {
	margin-top: 55px;
}

.reg_content {
	width: 65%;
	height: 100%;
	padding-left: 50px;
	padding-top: 50px;
}

.reg_title {
	font-size: 18px;
}

.reg_content {
	padding-top: 35px;
}

.reg_par {
	color: #CC0606;
	font-size: 10px;
	width: 80%;
}

.form_block {
	width: 80%;
	padding-top: 25px;
	padding-bottom: 13px;
}

.form_block input {
	margin-bottom: 20px;
	color: #CC0606;
	height: 27px;
	font-size: 12px;
}

.next {
	color: #CC0606;
	padding-left: 55px;
	font-size: 10px;
}

.next:hover {
	text-decoration: none;
	color: #CC0606;
}

.next img {
	margin-left: 6px;
}

.prev {
	color: #CC0606;
	font-size: 10px;
}

.prev:hover {
	text-decoration: none;
	color: #CC0606;
}

.prev img {
	margin-right: 4px;
}
}
