
body{
    font-family: 'Geometria', sans-serif;
    src: url(Geometria/Geometria.ttf);
	background-color: #f8f8f8;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


/* --------- Section1 -----------*/

.cn {
	background-color: white;
	margin-top: 50px;
	padding-left: 70px;
    padding-right: 70px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.test_title {
	color: #4505b3;
	font-size: 24px;
	font-weight: 500;
}

.test_par {
	color: #4a4a4a;
	font-size: 16px;
	line-height: 20px;
	width: 80%;
	margin-bottom: 60px;
}
.reg_par {
	color: #4a4a4a;
	font-size: 16px;
	width: 80%;
	padding-bottom: 80px;
}

/* ------- Question block -------*/

.q_block {
	margin-bottom: 40px;
}

.numb {
	color: #4505b3;
	font-size: 18px;
	margin-right: 20px;
	margin-top: 3px;
}

.question_title {
	width: 938px;
	color: #4a4a4a;
	font-size: 18px;
	font-weight: 500;
}

.answer {
	margin-left: 35px;
}

.radio_text {
	font-size: 16px;
	color: #4a4a4a;
	margin-left: 16px;
	width: 80%;
}

label input {
	width: 15px;
	height: 15px;
	margin-top: 4px;
}

/* ------- Section2 -------- */

.Section2 {
	position: fixed;
	left: 0; bottom: 0; /* Левый нижний угол */
	height: 70px;
	width: 100%;
	background-color: white;
	box-shadow: 0px -1px 15px 2px #cbcbcb;
	padding-top: 20px;
}

.time_svg {
	width: 32px;
	height: 36px;
	margin-top: -5px;
}

.time_text {
	color: #4505b3;
	font-size: 20px;
	font-weight: bold;
	padding-left: 18px;
}

.category {
	color: #9b9b9b;
	font-size: 16px;
	text-align: center;
}

.category:hover{
	text-decoration: none;
	color: #4a4a4a;
}

.radio_text {
	margin-top: -2px;
}

input {
    display: none;
}

label{
    display: inline-block;
}

i {
    display: inline-block;
    width: 20px;
    height: 20px;
	background-color: #ffffff;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    position: relative;
}

input[type="radio"]+i {
    border-radius: 100%;

}

i:before {
    content: '';
    position: absolute;
    top: 3px; bottom: 3px;
    left: 3px; right: 3px;
    background-color: #4505b3;
    border-radius: 6px;
    transform: scale(0);
    transition: .4s;
}

input[type="radio"]+i:before {
    border-radius: 100%;
}

input:checked+i:before {
    transform: scale(1); 
}
.skip-btn{
	width: 150px;
	height: 45px;
	border-radius: 8px;
	border: 1px solid #9a9a9a;
	background-color: #9a9a9a;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	margin-right: 5px;
	margin-bottom: 10px;
}
.next-btn{
	width: 150px;
	height: 45px;
	border-radius: 8px;
	border: 1px solid #4505b3;
	background-color: #4505b3;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
}

.next{
    color: #4505b3;
	border: none;
	float: right;
	text-decoration:none;
	font-weight: 500;
}
.prev{
   	color: #4a4a4a;
	border: none;
	text-decoration:none;
	font-weight: 500;
}
.next_img{
    margin-left: 10px;
}
.prev_img{
    margin-right: 10px;
}
.prev_q{
	margin-top: 20px;
}
.next_q{
	margin-top: 50px;
}
.num_of_q{
	margin-top: 3px;
	color: #4505b3;
	/*
	text-decoration: underline;
	text-decoration-style: dashed; */
}
#myBtn {
	width: 150px;
	height: 45px;
	border-radius: 8px;
	border: 1px solid #4505b3;
	background-color: #4505b3;
	font-size: 18px;
	color: #ffffff;
	margin-top: -7px;
}
#myBtn:hover{
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

#btnEnd {
	width: 90%;
	height: 38px;
	border-radius: 4px;
	border: 1px solid #4505b3;
	background-color: #4505b3;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	margin-left: 14px;
	

}

.category_block {
	width: 140px;
}

.category {
	color: #9b9b9b;
	font-size: 16px;
	text-align: center;
}

.category:hover{
	text-decoration: none;
	color: #4a4a4a;
}
