<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/reg1.css' %}">
	<link rel="stylesheet" href="{% static 'css/pop.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<style>
		.reg_par{
			font-size: 18px;
		}
		.reg_title{
			font-size: 25px;
		}
		.reg_content{
			padding-top: 85px;
		}
	</style>
</head>
<body>
	<img id="logo" src="{% static 'img/logo.png' %}">
	<section class="Section1">
		<div class="container">
				{% csrf_token %}
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="reg_block d-flex">
						<div class="reg_content">
							<h1 class="reg_title">
								Dear Be-A-Star Participant!
							</h1>
							<p class="reg_par">
								We hope you worked hard and ready to go through our Be-A-Star test!
							</p>
							<div class="form_block">
								<form action="{% url 'reg1' %}" method="post">
							{% csrf_token %}
									<input name="id" maxlength="70" placeholder="Write your id" class="form-control" required="" id="id_id">
									
									<br>
									<a class="next_div">
										<button class="next">Next</button>
										<img src="{% static 'img/3-Layers.png' %}" alt="">	
									</a>	
								</form>
											<!--Start modal button-->

								<!-- The Modal -->
			            		<div id="myModal" class="modal">

			              		<!-- Modal content -->
				              		<div class="modal-content">
						                <p class="reg_par">
											THIS ID IS NOT REGISTRADE
										</p>
										<div class="row">
											<div class="col"></div>
											<div class="col"></div>
											<div class="col">
												<a class="btn btn-header" id="btnEnd">OK
												</a>
											</div>
										</div>
					              	</div>
			            		</div>	
			            		<!--End Modal -->	
							</div>
						</div>
						<div class="reg_picture">
							<img src="{% static 'img/01.svg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</section>
</body>
<script>
$(document).ready(function() {
    {% if error %}
    var modal = document.getElementById('myModal');
    modal.style.display = "block"
    {% endif %}
    $('#btnEnd').click(function(){
    modal.style.display = "none";
});
});
</script>

</html>