<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load widget_tweaks %}
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/reg2.css' %}">
	<link rel="stylesheet" href="{% static 'css/pop.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body>
	<img id="logo" src="{% static 'img/logo.png' %}">
	{% csrf_token %}
	<section class="Section1">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="reg_block d-flex">
						<div class="reg_content">
							<h1 class="reg_title">
								Personal details
							</h1>
							<p class="reg_par">
								Fill in the form if NOW is the time of the test and you are ready to go through it!<br>
								Fill in if you want to check whether you are registered, but NOW is NOT the time of the test<br>
							</p>
							<div class="form_block">
								<form action="{% url 'reg2' id %}" method="post">
									 {% csrf_token %} 
									<br>
									{% render_field form.country class="form-control" placeholder=form.country.label %}
									
									<input type="text" name="university" maxlength="256" placeholder="Name of university" class="form-control" id="id_university">
									<input type="text" name="speciality" maxlength="256" placeholder="Name of speciality" class="form-control" id="id_speciality">
								<div class="lines">
										<a href="{% url 'reg1' %}" class="prev">
											<img src="{% static 'img/prev.png' %}" alt="">
											Back
										</a>
										<a class="next_div">
											<button class="next">Next</button>
											<img src="{% static 'img/3-Layers.png' %}" alt="">	
										</a>							
									</div>
								</div>
								</form>
							</div>

						<div class="reg_picture">
							<img src="{% static 'img/02.svg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</section>


</body>
</html>