.add-btn{
	width: 119px;
	height: 41px;
	font-size: 14px;
	text-align: center;
	border: 1px dashed #A4A4A4;
	color: rgba(55, 55, 55, 0.7);
	margin-top: 20px;/*найди замену*/
}
.title_exam{
	font-size: 20px;
	font-weight: bold;
	color: #373737;
}
.status_exam{
	margin-left: 16px;
}
/*input for test*/
.form_block input{
	margin-bottom: 20px;
	width: 400px;
	height: 48px;
}
